[Desktop Entry]
Name=App Installer
Comment=Install AppImages and binaries
Exec=appinstaller
Icon=io.github.rfrench3.appinstaller
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
