[Desktop Entry]
Name=AppBox
Comment=One-click install any app format
Exec=appbox
Icon=io.github.rfrench3.appbox
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
